.ProductCard {
  display: flex;
  flex-wrap: wrap; /* Позволяет карточкам переноситься на следующую строку, если не помещаются на текущей */
  justify-content: flex-start; /* Располагает элементы от начала контейнера */
}

.Card {
  margin: 10px;
  width: 300px;
}
